[Unit]
Description=Log and display your app usage
After=network.target

[Service]
ExecStart=/absolute/path/to/binary/welldream server
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

